@media (max-width: 424px) {
.header {
    &__logo {
        width: 50%;
    }
    &__phone {
        font-size: 12px;
    }
}
.button_header {
    width: 100%;
    font-size: 10px;
}

.promo {
    padding: 21px 15px 93px 15px;
    &__wrapper {
        margin-top: 65px;
    }
    &__header {
        text-align: center;
    }
    &__subheader {
        text-align: center;
        margin-top: 14px;
    }
    &__icons {
        display: none;
    }
}
.title {
    font-size: 22px;
    &_left {
        text-align: center;
        font-size: 20px;
    }
}
.advantages {
    padding: 45px 0 60px 0;
    &__wrapper {
        margin-top: 15px;
    }
    &__item {
        max-width: 65%;
    }
}
.consultation {
    padding: 45px 10px 60px 10px;
    &__descr {
        text-align: center;
        font-size: 15px;
    }
}
.feed-form {
    margin: 36px auto 0 auto;
}
}