@media (max-width: 575px) {
    .container {
        max-width: none;
    }

    .header {
        padding: 0 15px;
        &__logo {
            width: 50%;
        }
        &__phone {
            font-size: 15px;
        }
    }
    .button_header {
        font-size: 12px;
    }

    .promo {
        padding: 0 10px;
        &__wrapper {
            margin-top: 65px;
        }
        &__header {
            text-align: center;
        }
        &__subheader {
            text-align: center;
            margin-top: 14px;
        }
        &__icons {
            display: none;
        }
    }
    .title {
        font-size: 22px;
        &_left {
            text-align: center;
            font-size: 22px;
        }
    }
    .advantages {
        padding: 45px 0 60px 0;
        &__wrapper {
            margin-top: 15px;
        }
        &__item {
            max-width: 65%;
        }
    }
    .consultation {
        padding: 45px 10px 60px 10px;
        &__descr {
            text-align: center;
            font-size: 15px;
        }
    }
    .feed-form {
        margin: 36px auto 0 auto;
    }
}